<section
  class="collection-banner"
  data-section-id="{{ section.id }}"
  data-section-type="collection-banner">
  <div class="container container--flush">
    {% if collection.tags contains 'Brand_Alape' or collection.title == 'Alape' %}
      <div class="rte collection-introduction">
        {{ 'collection.alape.introduction' | t }}
      </div>
      <a href="javascript:;" class="link learn_more">{{ 'collection.labels.learn_more' | t }}</a>
    {% endif %}
    <div class="collection-introduction__popup">
      <span class="collection-popup-close">{%- render 'icon', icon: 'close' -%}</span>
      <div class="collection-introduction__popup-content">
        <h2>{{ 'collection.alape.header1' | t }}</h2>
        <div class="rte">
          {{ 'collection.alape.text1_1' | t }}
        </div>
        <div class="rte">
          {{ 'collection.alape.text1_2' | t }}
        </div>
        <div class="rte">
          {{ 'collection.alape.text1_3' | t }}
        </div>
        <div class="rte">
          {{ 'collection.alape.text1_4' | t }}
        </div>
        <div class="rte">
          {{ 'collection.alape.text1_5' | t }}
        </div>
        <div class="rte">
          {{ 'collection.alape.text1_6' | t }}
        </div>
        <h2>{{ 'collection.alape.header2' | t }}</h2>
        <div class="rte">
          {{ 'collection.alape.text2_1' | t }}
        </div>
        <div class="rte">
          {{ 'collection.alape.text2_2' | t }}
        </div>
        <h2>{{ 'collection.alape.header3' | t }}</h2>
        <div class="rte">
          {{ 'collection.alape.text3_1' | t }}
        </div>
        <div class="rte">
          {{ 'collection.alape.text3_2' | t }}
        </div>
        <div class="collection-introduction__steps">
          <div class="step-item">
            <h2>{{ 'collection.labels.step1' | t }}</h2>
            <h2>{{ 'collection.alape.step1_header' | t }}</h2>
            <div class="rte">
              {{ 'collection.alape.step1_text1' | t }}
            </div>
            <div class="rte">
              {{ 'collection.alape.step1_text2' | t }}
            </div>
          </div>
          <div class="step-item">
            <h2>{{ 'collection.labels.step2' | t }}</h2>
            <h2>{{ 'collection.alape.step2_header' | t }}</h2>
            <div class="rte">
              {{ 'collection.alape.step2_text1' | t }}
            </div>
            <div class="rte">
              {{ 'collection.alape.step2_text2' | t }}
            </div>
          </div>
          <div class="step-item">
            <h2>{{ 'collection.labels.step3' | t }}</h2>
            <h2>{{ 'collection.alape.step3_header' | t }}</h2>
            <div class="rte">
              {{ 'collection.alape.step3_text1' | t }}
            </div>
            <div class="rte">
              {{ 'collection.alape.step3_text2' | t }}
            </div>
            <div class="rte">
              {{ 'collection.alape.step3_text3' | t }}
            </div>
          </div>
        </div>
        <h2>{{ 'collection.alape.header4' | t }}</h2>
        <h2>{{ 'collection.alape.header5' | t }}</h2>
        <div class="rte">
          {{ 'collection.alape.text5' | t }}
        </div>
        <h2>{{ 'collection.alape.header6' | t }}</h2>
        <h2>{{ 'collection.alape.header7' | t }}</h2>
        <div class="rte">
          {{ 'collection.alape.text7' | t }}
        </div>
        <div class="collection-introduction__links">
          <h2 class="link-header">
            {{ 'collection.alape.ul_header' | t }}
          </h2>
          <ul class="link-items">
            {{ 'collection.alape.li_html' | t }}
          </ul>
        </div>
        <div class="collection-introduction__store-info rte">
          {{ 'collection.alape.store_info_html' | t }}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Collection Banner",
    "settings": []
  }
{% endschema %}