{{ 'custom-brand.css' | asset_url | stylesheet_tag }}
<style>
  .section--{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media (max-width: 767px) {
      .section--{{ section.id }} {
          padding-top: {{section.settings.padding_top_m}}px;
          padding-bottom: {{section.settings.padding_bottom_m}}px
      }
  }
</style>
<div class="section--{{section.id}} custom-brand">
  <div class="brand-title">
    <h1>{{ section.settings.heading }}</h1>
  </div>
  <div class="brand-logo">
    {% for block in section.blocks %}
      <div class="image-item">
        {% if block.settings.logo_image != blank %}
          <img
            class="brand-image"
            src="{{block.settings.logo_image | img_url: '100x' }}"
            alt="Logo image"
            loading="lazy"
            href="{{block.settings.logo_link}}"
          >
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Custom brand section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "default": "Brands"
    }
  ],
  "blocks": [
    {
      "type": "Item",
      "name": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image"
        },
        {
          "type": "url",
          "id": "logo_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Brand Section"
    }
  ]
}
{% endschema %}