<div class="shopify-section about-us">
<section class="section" data-section-type="image-with-text">
<div class="container">
<div class="image-with-text">
<div class="image-with-text__image-container" style="width: 50%;">
<div class="aspect-ratio" style="padding-bottom: 66.66666666666667%;"><img class="image--fade-in lazyautosizes lazyloaded" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/about_us.jpg?v=1636353182 300w" alt="" data-widths="[300,1200]" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/about_us.jpg?v=1636353182 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/about_us.jpg?v=1636353182 1200w" /><noscript>							 <img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/about_us.jpg?v=1636353182,%20//cdn.shopify.com/s/files/1/0609/0666/8262/files/about_us.jpg?v=1636353182%201200w" alt="">							 </noscript></div>
</div>
<div class="image-with-text__text-container">
<div class="image-with-text__text-aligner">
<h2 class="heading h3">{{ 'about.about_us.heading' | t }}</h2>
<div class="rte">
    {{ 'about.about_us.text_html' | t }}
</div>
<div class="rte">
    {{ 'about.about_us.text_html2' | t }}
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="shopify-section why-us">
<section class="section" data-section-type="image-with-text">
<div class="container">
<div class="image-with-text">
<div class="image-with-text__text-container">
<div class="image-with-text__text-aligner">
<h2 class="heading h3">{{ 'about.why_us.heading' | t }}</h2>
<div class="rte">
    {{ 'about.why_us.text_html' | t }}
</div>
</div>
</div>
<div class="image-with-text__image-container" style="width: 50%;">
<div class="aspect-ratio" style="padding-bottom: 66.66666666666667%;"><img class="image--fade-in lazyautosizes lazyloaded" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/why_us.jpg?v=1636353182 300w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/why_us.jpg?v=1636353182 1200w" alt="" data-widths="[300,1200]" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/why_us.jpg?v=1636353182 300w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/why_us.jpg?v=1636353182 1200w" /><noscript>							 <img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/why_us.jpg?v=1636353182" alt="">							 </noscript></div>
</div>
</div>
</div>
</section>
</div>