{%- if product.description != blank -%}
  <div class="product-block-list__item product-block-list__item--description">
    <div class="card">
      {%- if section.settings.content_display_mode == 'collapse_all' -%}
        <button
          aria-controls="product-description"
          aria-expanded="false"
          class="card__collapsible-button"
          data-action="toggle-collapsible">
          <span class="card__title heading h3">{{ 'product.general.description' | t }}</span>
          <span class="plus-button plus-button--large"></span>
        </button>

        <div class="card__collapsible" id="product-description">
          <div class="card__collapsible-content">
            <div class="rte text--pull">
              {{ product.description | remove: 'data-section-type="product"' }}
            </div>
          </div>
        </div>
      {%- else -%}
        <div class="card__header">
          <h2 class="card__title heading h3">{{ 'product.general.description' | t }}</h2>
        </div>

        {%- if section.settings.content_display_mode == 'show_all_and_expand_description' -%}
          <div class="card__section">
            <div class="rte text--pull">
              {{ product.description | remove: 'data-section-type="product"' }}
            </div>
          </div>
        {%- else -%}
          <div aria-expanded="false" class="card__section expandable-content">
            <div class="rte text--pull">
              {{ product.description | remove: 'data-section-type="product"' }}
            </div>

            <button class="expandable-content__toggle">
              <span class="expandable-content__toggle-icon"></span>
              <span
                class="expandable-content__toggle-text"
                data-view-more="{{ 'product.general.view_more' | t | escape }}"
                data-view-less="{{ 'product.general.view_less' | t | escape }}">{{- 'product.general.view_more' | t -}}</span>
            </button>
          </div>
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>
{%- endif -%}