{% assign counter = 0 %}
{% for vendor in shop.vendors %}
{% assign counter = counter | plus: 1 %}
{% endfor %}

{% assign counter_divided_by_3 = counter | divided_by: 3 | floor %}

{{ page.content }}

<ul class="vendor-list block-grid three-up mobile one-up">
    {% for product_vendor in shop.vendors %}
    {% assign its_a_match = false %}
    {% capture my_collection_handle %} {{ product_vendor | handleize | strip | escape  }} {% endcapture %}
    {% assign my_collection_handle_stripped = my_collection_handle | strip | escape %}
    
    {% for collection in collections %}
    {% if my_collection_handle_stripped == collection.handle %}
    {% assign its_a_match = true %}
    {% endif %}
    {% endfor %}
    
    {% if its_a_match %}
    <li class="vendor-list-item"><a href="/collections/{{ product_vendor | handleize }}">{{ product_vendor }}</a></li>
    {% else %}
    <li class="vendor-list-item">{{ product_vendor | link_to_vendor }}</li>
    {% endif %}
    {% endfor %}
    </ul>
    